body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
}

h1, h2, li, p {
  color: #ffffff;
}

h1 {
  font-size: clamp(40px, 2vw, 100px);
}

h2 {
  font-size: clamp(15px, 0.8vw, 50px);
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5%;
}

.center-text {
  text-align: center;
  padding: 0;
}