.side-card {
    width: 33vw;
    max-width: 900px;
    height: auto;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1.5%;
    box-sizing: border-box;
    margin: 0;
    transition: opacity 0.3s ease;
    opacity: 0;
    padding: 2%;
    animation: fadeIn 0.3s ease forwards;
    padding-bottom: 0.5%;
}

h1 {
  text-align: center;
  font-size: clamp(20px, 1.5vw, 100px);
}

p {
  font-size: clamp(18.5px, 0.9vw, 30px);
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: clamp(100px, 100vw, 180px);
  object-fit: cover;
  border-radius: 2%;
  margin: 2%;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.clickable-img {
  cursor: pointer;
  max-width: 100%;
  transition: transform 0.2s ease;
}
.clickable-img:hover {
  transform: scale(1.02);
}

.fade-content-enter-active, .fade-content-leave-active {
  transition: opacity 0.3s ease;
}
.fade-content-enter-from, .fade-content-leave-to {
  opacity: 0;
}
.fade-content-enter-to, .fade-content-leave-from {
  opacity: 1;
}